useDynLib(dexterMML, .registration=TRUE)

importFrom(Rcpp, evalCpp)
import(dplyr)
importFrom(dexter, "get_resp_matrix", "get_resp_data")
importFrom(DBI, "dbGetQuery")
importFrom(rlang,"caller_env",".data")
importFrom(stats, "var", "sd", "weighted.mean")

export(est)
export(ability.mml)
export(plausible_values.mml)

S3method(print,parms_mml)
S3method(coef,parms_mml)
S3method(plot,parms_mml)
